body{
	background-color: #d0d0d0;
	font-family: Cambria, Georgia, serif;
}

.content-header{
	font-size: 200%;
	font-weight: bold;
  padding: 20px;
	color: #344D75;
}

.line{
	margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  border: 1px solid #717171;
	max-width: 600px;
}

.container{
	margin: auto;
	display: flex;
  min-height: 100vh;
  flex-direction: column;
	background-color: #d0d0d0;
}

.nav-top{
	/*margin: 0;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/*justify-content: space-around;*/
  height: 3em;
	margin-top: 60px;
  background-color: #344D75;
}

.navigation {
	margin-right: 20%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;
	-webkit-flex-flow: row wrap;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #F9FBFD;
}

.label{
  background-color: #d0d0d0;
	margin-top: 0;
	/*justify-content: center;*/
	position: absolute;
	left: 17%;
	top: 10px;
	height: 147px;
}

.logo{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:400px;
}



.main{
	width: 65%;
	margin: auto;
	flex: 1 100%;
	margin-top: 60px;

	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
}

.main-content{
	/*background-color: #fff;*/

	flex: 2;
	margin: 20px;
}

.main-pic{
	width: 100%;
  height: auto;
}

.footer{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-flow: row wrap;
	align-items: center;
	width: 65%;
	margin: auto;
	height: 150px;
	color: #344D75;
	font-size: 110%;
}

.footer a {
	text-decoration: none;
	color: #344D75;

}

.footer li {
	padding: 4px;
}

.contact-form{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	align-items: flex-start;
	margin-left: 50px;
	margin-top: 40px;
	margin: 20px;
  color: #777777;
  font-size: 120%;
	line-height: 190%;
}

.contact-input{
	width: 100%;
	max-width: 600px;
	/*min-width: 300px;*/
  font-size: 125%;
  color: #777777;
  border: 1px solid #cccccc;
	-webkit-appearance: textfield;
  background-color: white;
  /*-webkit-rtl-ordering: logical;*/
  user-select: text;
  cursor: auto;
}

.contact-submit{
	width: 150px;
  height: 50px;
  background-color: #344D75;
  border: 1px solid #cccccc;
  font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
  font-weight: bold;
  font-size: 120%;
  color: #fff;
	margin-top:20px;
}

.aside{
	/*background-color: #fff;*/
	flex: 1;
	margin: 20px;
	padding: 20px;
}

.aside-links li{
	width: 160px;
  height: 100px;
	text-align: center;
}

.contact-now p{
	padding-top: 25px;
}

.call-now{
	line-height: 100px;
}

.aside-links a{
	text-decoration: none;
  background-color: #344D75;
  border: 1px solid #cccccc;
  font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
  font-weight: bold;
  font-size: 130%;
  color: #fff;
	margin-top: 20px;
}

.aside-links{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	-webkit-flex-flow: column wrap;
	align-items: center;
	/*width: 65%;*/
	/*margin: auto;*/
	/*height: 150px;*/
	color: #344D75;
	font-size: 110%;
}

textarea{
	border: 1px solid #cccccc;
  font-size: 125%;
  color: #777777;
  width: 99.3%;
	max-width: 598px;
}

submit{
	padding-top: 20px;
}

@media all and (max-width: 1200px) {
	.container{
		margin: 0;
		width: auto;
	}

	.label{
		left: 5%;
	}

	.navigation{
		margin-right: 10%;
	}

	.footer{
		width: 90%;
		margin: auto;
	}
	.main{
		width: 90%;
		margin: auto;
		margin-top: 60px;
	}
}

@media all and (max-width: 800px) {

	.label{
		position: static;
		height: auto;
	}

  .logo{
		display:block;
    box-shadow: none;
		margin: auto;
  }

	.footer{
		-webkit-flex-flow: column wrap;
	  flex-flow: column wrap;
		justify-content: space-around;
		width: 100%;
		margin: auto;
	}
	.main{
		width: 100%;
		margin: auto;
	}

	.nav-top{
	  -webkit-flex-flow: column wrap;
	  flex-flow: column wrap;
	  padding: 0;
    height: auto;
		margin-top: 0;
	}
  .navigation {
    	justify-content: space-around;
			margin-right: 0;
  }

	.bot-links{
		display: none;
	}
}
@media all and (max-width: 600px) {
    .navigation {
	    -webkit-flex-flow: column wrap;
	    flex-flow: column wrap;
	    padding: 0;
  }
	.logo{
		width: 100%;
    height: auto;
	}

  	.navigation a {
    	text-align: center;
    	padding: 10px;
    	/*border-top: 1px solid rgba(255, 255, 255, 0.3);
    	border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
  }

  	.navigation li:last-of-type a {
    	border-bottom: none;
  }
}
