body{
	background-color: #d0d0d0;
	font-family: Cambria, Georgia, serif;
}

.container{
	margin: auto;
	display: flex;
  min-height: 100vh;
  flex-direction: column;
	background-color: #d0d0d0;
}

.nav-top{
	/*margin: 0;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/*justify-content: space-around;*/
  height: 3em;
	margin-top: 60px;
  background-color: #344D75;
}

.navigation {
	margin-right: 20%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;
	-webkit-flex-flow: row wrap;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #F9FBFD;
}

.label{
  background-color: #d0d0d0;
	margin-top: 0;
	/*justify-content: center;*/
	position: absolute;
	left: 17%;
	top: 10px;
	height: 147px;
}

.logo{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:400px;
}



.main{
	width: 65%;
	margin: auto;
	flex: 1;
	margin-top: 100px;
}

.main-pic{
	width: 100%;
  height: auto;
}

.footer{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-flow: row wrap;
	align-items: center;
	width: 65%;
	margin: auto;
	height: 200px;
	color: #003da5;
	font-size: 110%;
	/*background-color: #F2641D;*/
}

.footer a {
	text-decoration: none;
	color: #003da5;

}

.footer li {
	padding: 4px;
}

@media all and (max-width: 1200px) {
	.container{
		margin: 0;
		width: auto;
	}

	.label{
		left: 5%;
	}

	.navigation{
		margin-right: 10%;
	}

	.footer{
		width: 90%;
		margin: auto;
	}
	.main{
		width: 90%;
		margin: auto;
		margin-top: 100px;
	}
}

@media all and (max-width: 800px) {

	.label{
		position: static;
		height: auto;
	}

  .logo{
    box-shadow: none;
  }

	.footer{
		-webkit-flex-flow: column wrap;
	  flex-flow: column wrap;
		justify-content: space-around;
		width: 100%;
		margin: auto;
	}
	.main{
		width: 100%;
		margin: auto;
	}

	.nav-top{
	  -webkit-flex-flow: column wrap;
	  flex-flow: column wrap;
	  padding: 0;
    height: auto;
		margin-top: 0;
	}
  .navigation {
    	justify-content: space-around;
			margin-right: 0;
  }

	.bot-links{
		display: none;
	}
}
@media all and (max-width: 600px) {
    .navigation {
	    -webkit-flex-flow: column wrap;
	    flex-flow: column wrap;
	    padding: 0;
  }
	.logo{
		width: 100%;
    height: auto;
	}

  	.navigation a {
    	text-align: center;
    	padding: 10px;
    	/*border-top: 1px solid rgba(255, 255, 255, 0.3);
    	border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
  }

  	.navigation li:last-of-type a {
    	border-bottom: none;
  }
}
