body{
	background-color: #eaeaea;
}

.container{
	width: 75%;
	margin: auto;
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav-top{
	/*margin: 0;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/*justify-content: space-around;*/
  height: 3em;
	margin-top: 40px;
  background-color: #2b5279;
}

.navigation {
	margin-right: 100px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;
	-webkit-flex-flow: row wrap;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #fff;
}

.label{
  background-color: #eaeaea;
	margin-top: 0;
	/*justify-content: center;*/
	position: absolute;
	left: 17%;
	top: 12px;
	height: 103px;
}

.logo{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:400px;
}

.main{
	flex: 1;
}

.main-pic{
	width: 100%;
  height: auto;
}

.footer{
	height: 200px;
	background-color: #303030;
}

@media all and (max-width: 1200px) {
	.container{
		margin: 0;
		width: auto;
	}

	.label{
		left: 5%;
	}
}

@media all and (max-width: 800px) {

	.label{
		position: static;
	}

  .logo{
    box-shadow: none;
  }

	.nav-top{
		-webkit-flex-flow: column wrap;
	    flex-flow: column wrap;
	    padding: 0;
      height: auto;
	}
  .navigation {
    	justify-content: space-around;
			margin-right: 0;
  }
}
@media all and (max-width: 600px) {
    .navigation {
	    -webkit-flex-flow: column wrap;
	    flex-flow: column wrap;
	    padding: 0;
  }

  	.navigation a {
    	text-align: center;
    	padding: 10px;
    	/*border-top: 1px solid rgba(255, 255, 255, 0.3);
    	border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
  }

  	.navigation li:last-of-type a {
    	border-bottom: none;
  }
}
