body{
	background-color: #d0d0d0;
	font-family: Cambria, Georgia, serif;
}

.content-header{
	font-size: 200%;
	font-weight: bold;
  padding: 20px;
	padding-bottom: 0;
	color: #344D75;
}

.line{
	margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  border: 1px solid #717171;
	max-width: 700px;
}

.container{
	margin: auto;
	/*display: -webkit-box;*/
	display: -moz-box;
	display: -ms-flexbox;
	/*display: -webkit-flex;*/
	display: flex;
  min-height: 100vh;
  flex-direction: column;
	background-color: #d0d0d0;
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
   /* IE10+ specific styles */
	.container{
		height: 100vh;
	}

	.nav-top{
		min-height: 45px;
	}

	.footer{
		/*padding-top: 50px;*/
		height: 150px;
	}

}

.nav-top{
	/*margin: 0;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/*justify-content: space-around;*/
  height: 3em;
	margin-top: 60px;
  background-color: #344D75;
}

.navigation {
	margin-right: 20%;
	/*display: -webkit-box;*/
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;
	flex-flow: row wrap;
}

.navigation a {
		font-family: 'Merriweather', serif;
		letter-spacing: .5px;
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #F9FBFD;
}

.label{
  background-color: #d0d0d0;
	margin-top: 0;
	/*justify-content: center;*/
	position: absolute;
	left: 17%;
	top: 10px;
	height: 147px;
}

.logo{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:400px;
}

.logo-block{
	position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.main{
	width: 65%;
	margin: auto;
	flex: 1 100%;
	margin-top: 60px;
	padding-top: 40px;

	/*display: -webkit-box;*/
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
}

.main-text{
	font-family: 'Merriweather', serif;
	font-weight: normal;
	padding-left: 30px;
	line-height: 110%;
}

.thank-you{
	margin-top: 50px;
}

.main-content{
	/*background-color: #fff;*/

	flex: 2;
	/*margin: 20px;*/
}

.services-list{
	margin-left: 20px;
	list-style-type: circle;
	line-height: 130%;
}

.main-pic{
	width: 100%;
  height: auto;
}

.footer-container{
	width: 100%;
	background-color: #505050;
}

.footer{
	font-family: 'Merriweather', serif;
	font-weight: normal;
	letter-spacing: .5px;
	/*display: -webkit-box;*/
	display: -moz-box;
	display: -ms-flexbox;
	/*display: -webkit-flex;*/
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	align-items: center;
	width: 65%;
	margin: auto;
	/*height: 150px;*/
	min-height: 150px;
	color: #F9FBFD;
	font-size: 85%;
}

.footer a {
	text-decoration: none;
	color: #F9FBFD;
}

.footer li {
	padding: 4px;
}

.contact-form{
	/*display: -webkit-box;*/
	display: -moz-box;
	display: -ms-flexbox;
	/*display: -webkit-flex;*/
	display: flex;
	justify-content: space-around;
	flex-flow: column wrap;
	align-items: flex-start;
	margin-left: 50px;
	margin-top: 40px;
	margin: 20px;
  color: #777777;
  font-size: 120%;
	line-height: 190%;
}

.contact-input{
	width: 100%;
	max-width: 600px;
	/*min-width: 300px;*/
  font-size: 125%;
  color: #777777;
  border: 1px solid #cccccc;
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
  background-color: white;
  /*-webkit-rtl-ordering: logical;*/
  user-select: text;
  cursor: auto;
}

.contact-submit{
	width: 150px;
  height: 50px;
  background-color: #344D75;
  border: 1px solid #cccccc;
  font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
  font-weight: bold;
  font-size: 120%;
  color: #fff;
	margin-top:20px;
}

.aside{
	/*background-color: #fff;*/
	flex: 1;
	margin: 20px;
	padding: 20px;
}

.aside-links li{
	width: 160px;
  height: 100px;
	text-align: center;
}

.contact-now p{
	padding-top: 25px;
}

.call-now{
	line-height: 100px;
}

.aside-links a{
	text-decoration: none;
  background-color: #344D75;
  border: 1px solid #cccccc;
  font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
  font-weight: bold;
  font-size: 130%;
  color: #fff;
	margin-top: 20px;
}

.aside-links{
	/*display: -webkit-box;*/
	display: -moz-box;
	display: -ms-flexbox;
	/*display: -webkit-flex;*/
	display: flex;
	justify-content: space-around;
	flex-flow: column wrap;
	align-items: center;
	/*width: 65%;*/
	/*margin: auto;*/
	/*height: 150px;*/
	color: #344D75;
	font-size: 110%;
}

textarea{
	border: 1px solid #cccccc;
  font-size: 125%;
  color: #777777;
  width: 99.3%;
	max-width: 598px;
}

submit{
	padding-top: 20px;
}

@media all and (max-width: 1200px) {
	.container{
		margin: 0;
		width: auto;
	}

	.label{
		left: 5%;
	}

	.navigation{
		margin-right: 10%;
	}

	.footer{
		width: 90%;
		margin-bottom: 10px;
		margin-top: 10px;
		/*margin: auto;*/
	}
	.main{
		width: 90%;
		margin: auto;
		margin-top: 60px;
	}
}

@media all and (max-width: 800px) {

	.container{
		height: auto;
		min-height: 100vh;
		/*display: inline;*/
	}

	.label{
		position: static;
		height: auto;
	}

  .logo{
		display:block;
    box-shadow: none;
		margin: auto;
  }

	.footer{
		flex-flow: column wrap;
		justify-content: space-around;
		width: 100%;
		/*margin: auto;*/
	}

	.footer-items{
		padding: 10px;
	}

	.main{
		width: 100%;
		margin: auto;
	}

	.nav-top{
	  flex-flow: column wrap;
	  padding: 0;
    height: auto;
		margin-top: 0;
	}
  .navigation {
    	justify-content: space-around;
			margin-right: 0;
  }

	.bot-links{
		display: none;
	}
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) and (max-width: 800px) {
   /* IE10+ specific styles */
	 .container{
 		/*height: auto;*/
 		/*height: 100vh;*/
		display: inline;
 	}

	.nav-top{
		min-height: 50px;
	}

	.main{
		/*margin-top: 100px;*/
	}

}

@media all and (max-width: 600px) {
  .navigation {
			flex-flow: column wrap;
	    padding: 0;
  }

.main{
  flex-flow: column wrap;
}

	.aside-links{
		-webkit-flex-flow: column wrap;
	  flex-flow: row wrap;
	}
	.logo{
		width: 100%;
    height: auto;
	}

  	.navigation a {
    	text-align: center;
    	padding: 10px;
    	/*border-top: 1px solid rgba(255, 255, 255, 0.3);
    	border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
  }

  	.navigation li:last-of-type a {
    	border-bottom: none;
  }
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) and (max-width: 600px) {
   /* IE10+ specific styles */
	 .container{
 		/*height: auto;*/
 		/*height: 100vh;*/
		display: block;
 	}


	.main{
		/*margin-top: 100px;*/
	}

}
